@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #213555;
    --cor-secundaria: #F5EFE7;
    --cor-terciaria: #D8C4B6;
    --cor-hover: #4F709C;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0; /*Reset do CSS em margem e padding para 0 */
    padding: 0;
}

body {
    /* height: 100vh; O espaço de visualização vai ser da tela toda */
    box-sizing: border-box; /*Elemento que arruma o preenchimento e a borda, onde inclui eles na largura e altura */
    background-color: var(--cor-primaria); /*Cor do fundo da pagina body */
    color: var(--cor-secundaria); /*Cor das letras da pagina body */
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao{
    padding: 5% 15%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.apresentacao__dados__titulo{
    font-size: 46px;
    font-family: var(--fonte-primaria);
}

.apresentacao__dados__texto{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-family: var(--fonte-secundaria);
}

.apresentacao__sobre{
    padding: 0% 0% 0% 15%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.apresentacao__sobre__titulo{
    font-size: 32px;
    font-family: var(--fonte-primaria);
    margin-bottom: 2%;
    margin-top: 3%;
}

.apresentacao__sobre__conteudo{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 5%;
    gap: 5px;
}

.apresentacao__sobre__conteudo__tempo{
    margin-top: 2%;
    font-size: 16px;
    font-family: var(--fonte-secundaria);
}

.apresentacao__sobre__conteudo__lugar{
    font-size: 28px;
    font-family: var(--fonte-secundaria);
}

.apresentacao__sobre__conteudo__descricao{
    font-size: 20px;
    font-family: var(--fonte-secundaria);
    padding: 0% 25% 0% 5%;
    text-decoration: none;
    color: var(--cor-secundaria);
}

.apresentacao__sobre__conteudo__bullet{
    font-size: 20px;
    font-family: var(--fonte-secundaria);
    padding: 0% 25% 0% 0%;
}

.apresentacao__sobre__conteudo__bullet__point{
    margin: 10px;
}

.apresentacao__sobre__conteudo:hover{
    background-color: var(--cor-hover);
    border-radius: 15px;
    padding: 1%;
    box-shadow: 5px 5px 5px gray ;
}


.rodape{
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
}